@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
  /* Dégradé radial avec overlay pour distinguer la zone principale */
  background:
    linear-gradient(to right,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 100%),
    radial-gradient(circle at 0% 0%,
      #88BDED 0%,
      #88BDED 10%,
      #E8E8E8 70%,
      #E8E8E8 90%);
  background-attachment: fixed;
}

#root {
  height: 100%;
}

/* Universal font family for all elements */
*,
*::before,
*::after {
  font-family: 'Space Grotesk', sans-serif;
}

/* Specific rules for common HTML elements */
p,
div,
span,
a,
button,
input,
textarea,
label {
  font-family: 'Space Grotesk', sans-serif;
}

/* Styles pour Desktop */
h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.0075em;
}

h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
}

h3 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}

.subtitle1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
}

.subtitle2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.body1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.body2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.body3 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 11px !important;
  line-height: 18px !important;
}

.body3.bold {
  font-weight: bold !important;
}


/* Styles pour Mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
    line-height: 32px;
  }

  h2 {
    font-size: 22px;
    line-height: 28px;
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .subtitle1 {
    font-size: 14px;
    line-height: 16px;
  }

  .subtitle2 {
    font-size: 14px;
    line-height: 16px;
  }

  .body1 {
    font-size: 12px;
    line-height: 19px;
  }

  .body2 {
    font-size: 10px;
    line-height: 17px;
  }

  .body3 {
    font-size: 8px !important;
    line-height: 15px !important;
  }
}

.appContainer {
  display: flex;
  height: 100%;
}

.mainContent {
  flex-grow: 1;
  overflow: auto !important;
}